
<div class="card text-center mt-5 shadow box">
  <h2 class="text-info mt-3 font-weight-bold">{{name}}</h2>
  <p class="px-3">{{description}}</p>
  <p>Price: {{price}}</p>
  <p>Hardness: {{hardness}}</p>
  <p>Created by: {{user.name}}</p>
</div>