
<div class="card text-center mt-5 shadow box">
  <h2 class="text-info">{{name}}</h2>
  <p>{{description}}</p>
  <p>Price: {{price}}</p>
  <p>Hardness: {{hardness}}</p>
  <p>Created by: {{user.name}}</p>
</div>