<div class="row">
        <div class="col-auto">
          <h2>Welcome, {{name}}!</h2>
        </div>
      </div>
    <div class="container">
      <div class="row mt-4">
        <div class="col-md-6">
          <h3>Submit a New Crystal:</h3>
      
          <form class="new-project-form">
            <div class="mb-3">
              <label for="CrystalName" class="form-label">Crystal Name</label>
              <input class="form-control" id="crystalName" aria-label="crystal Input">
            </div>
            <div class="mb-3">
              <label for="priceInput" class="form-label">Price ($):</label>
              <input class="form-control" id="crystalPrice">
            </div>
            <div class="mb-3">
              <label for="descriptionInput" class="form-label">Description:</label>
              <textarea class="form-control" id="crystalDescription" aria-label="With textarea"></textarea>
            </div>
            <input type="range" min="1" max="10" value="1" id="passAmountSlider">
            <input class="number-input" type="number" min="1" max="10" value="1" id="passAmountNumber">
           <div>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck1">Common</label>
            
              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck2">Uncommon</label>
            
              <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
              <label class="btn btn-outline-primary" for="btncheck3">Rare</label>
            </div>
           </div>
            <button type="submit" class="btn btn-primary new-Crystal">Submit</button>
          </form>
        </div>
        {{#if Crystals.length}}
        <div class="col crystal-list">
          <h3>Current Crystal:</h3>
      
          {{#each Crystals as |crystal|}}
          <div class="row">
            <div class="col-md-8">
              <h4>{{crystal.name}}</h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger .project-list" data-id="{{crystal.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{else}}
          <div class="col project-list">
          <h3>Current Crystal:</h3>
           <div class="row">
            <div class="col-md-8">
              <h4>No Crytals found</h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger .project-list" data-id="{{crystal.id}}">DELETE</button>
            </div>
          </div>
        {{/if}}
      </div>
    </div>

    <script src="./js/profile.js"></script>
